body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Headings */
h1 {
    text-align: center;
    color: #333333;
    font-weight: 500;
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    color: #4CAF50;
    font-weight: 500;
    margin-top: 2em;
}

/* Labels */
label {
    color: #666;
    display: block;
    margin-top: 1em;
}

/* Inputs */
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Buttons */
.wiki-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 2px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.wiki-button:hover {
    background-color: #45a049;
}
